<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gestion</a></li>
                        <li class="breadcrumb-item active">Type dépenses</li>
                    </ol>
                </div>
                <h4 class="page-title" *ngIf="!paramId">Ajouter Type dépense</h4>
                <h4 class="page-title" *ngIf="paramId">Modifier Type dépense</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6" style="margin-left: auto; margin-right: auto;">
                            <div class="mb-3">
                                <label for="code" class="form-label">Code</label>
                                <input type="text" [(ngModel)]="typeDepenseData.codeCategoryCharge" #codeCategoryCharge="ngModel" required class="form-control" placeholder="Enter code">
                            </div>

                            <div class="mb-3">
                                <label for="designation" class="form-label">Désignation dépense</label>
                                <input type="text" [(ngModel)]="typeDepenseData.designation" #designation="ngModel" class="form-control" placeholder="Enter désignation">
                            </div>

                            <div class="button-group">
                                <button *ngIf="!paramId" class="btn btn-success btn-lg mb-1" (click)="onAddTypeDepense()" style="cursor: pointer;">
                                <i class="fa fa-database"></i> Enregistrer</button
                              >&nbsp;
                            <button
                                *ngIf="paramId"
                                class="btn btn-primary btn-lg mb-1"
                                (click)="onUpdateTypeDepense()"
                                style="cursor: pointer;"
                                >
                                <i class="fa fa-database"></i>Modifié
                                </button>&nbsp;
                                <button routerLink="/depense/type-depense/list" class="btn btn-warning btn-lg mb-1">
                                    <i class="mdi mdi-arrow-left"></i> Retour</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>