<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gestion</a></li>
                        <li class="breadcrumb-item active">Produits</li>
                    </ol>
                </div>
                <h4 class="page-title">Produits</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <a routerLink="/product/create" href="javascript:void(0);" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Ajout Produit</a>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button>
                                <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                                <button type="button" class="btn btn-light mb-2">Export</button>
                            </div>
                        </div>
                        <!-- end col-->
                    </div>

                    <div class="table-responsive">
                        <table class="table table-centered w-100 dt-responsive nowrap" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="products-datatable">
                            <thead class="table-light">
                                <tr>
                                    <th class="all" style="width: 20px;">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck1">
                                            <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                        </div>
                                    </th>
                                    <th class="all">Produit</th>
                                    <th>Categorie</th>
                                    <th>Prix Achat</th>
                                    <th>Prix Vente</th>
                                    <th>Quantité en Stock</th>
                                    <th>Status</th>
                                    <th style="width: 85px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of productsList">
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck2">
                                            <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="assets/images/products/product-1.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                        <p class="m-0 d-inline-block align-middle font-16">
                                            <a href="apps-ecommerce-products-details.html" class="text-body">{{product.designation}}</a>
                                            <br>
                                            <span value="code-barre">{{product.barCode}}</span>
                                        </p>
                                    </td>
                                    <td>
                                        {{product?.subCategory?.libelle}}
                                    </td>
                                    <td>
                                        {{product.prixAchat}}
                                    </td>
                                    <td>
                                        {{product.prixVente}}
                                    </td>

                                    <td>
                                        {{product.qtestock}}
                                    </td>
                                    <td>
                                        <!-- <span class="badge bg-success">Active</span> -->
                                        <h5 *ngIf="product.qtestock > product.stockInitial">
                                            <span class="text-success">ENCOURS</span> </h5>

                                        <h5 *ngIf="product.qtestock == product.stockInitial">
                                            <span class="text-warning">SEUIL</span> </h5>

                                        <h5 *ngIf="product.qtestock < product.stockInitial">
                                            <span class="text-danger">EPUISEE</span> </h5>

                                    </td>

                                    <td class="table-action">
                                        <a [routerLink]="['/product/detail', product.id]" href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                        <a [routerLink]="['/product/edit', product.id]" href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                        <a (click)="onDeleteProduct(product.id)" href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end card-body-->
            </div>
            <!-- end card-->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

</div>
<!-- container -->