<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gestion</a></li>
                        <li class="breadcrumb-item active">Produit</li>
                    </ol>
                </div>
                <h4 class="page-title" *ngIf="!paramId">Nouvelle Produit</h4>
                <h4 class="page-title" *ngIf="paramId">Modifier Produit</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="mb-3">
                                <label for="barCode" class="form-label">Code-barre</label>
                                <input type="text" id="barCode" [(ngModel)]="productData.barCode" name="barCode" id="libelle" #barCode="ngModel" required class="form-control" placeholder="Enter code-barre">
                            </div>

                            <div class="mb-3">
                                <label for="designation" class="form-label">Désignation</label>
                                <input type="text" [(ngModel)]="productData.designation" name="designation" #designation="ngModel" id="designation" class="form-control" placeholder="Enter Designation">
                            </div>

                            <div class="mb-3">
                                <label for="prixAchat" class="form-label">Prix Achat</label>
                                <input type="number" [(ngModel)]="productData.prixAchat" name="prixAchat" #prixAchat="ngModel" id="prixAchat" class="form-control" placeholder="Enter project name">
                            </div>

                            <div class="mb-3">
                                <label for="prixDetail" class="form-label">Prix Détail</label>
                                <input type="number" id="prixDetail" [(ngModel)]="productData.prixDetail" name="prixDetail" #prixDetail="ngModel" class="form-control" placeholder="Enter project name">
                            </div>

                            <div class="mb-3">
                                <label for="qtestock" class="form-label">Quantité</label>
                                <input type="number" [(ngModel)]="productData.qtestock" name="qtestock" #qtestock="ngModel" id="qtestock" class="form-control" placeholder="Enter quantité stock">
                            </div>

                            <div class="mb-3">
                                <label for="stockInitial" class="form-label">Quantité Initial</label>
                                <input type="number" [(ngModel)]="productData.stockInitial" name="stockInitial" #stockInitial="ngModel" id="stockInitial" class="form-control" placeholder="Enter quantité stock">
                            </div>
                        </div>
                        <!-- end col-->

                        <div class="col-xl-6">
                            <div class="mb-3 position-relative" id="datepicker2">
                                <label class="form-label">Reférence</label>
                                <input type="text" [(ngModel)]="productData.reference" name="reference" #reference="ngModel" id="reference" class="form-control" placeholder="Enter Reference">
                            </div>
                            <div class="mb-3">
                                <label for="project-overview" class="form-label">Catégorie</label>
                                <select class="form-control select2" [(ngModel)]="productData.subCategory" name="subCategory" #subCategory="ngModel" data-toggle="select2">
                                    <option value="0">Select</option>
                                    <option
                                        *ngFor="let subcategory of subCategoriesListData"
                                        [ngValue]="
                                        subcategory.id == productData.subCategory?.id
                                            ? productData.subCategory
                                            : subcategory
                                        "
                                    >
                                    {{subcategory.libelle}}</option>
                                    <!-- <option value="CO">Holly Campbell</option>
                                    <option value="ID">Beatrice Mills</option>
                                    <option value="MT">Melinda Gills</option>
                                    <option value="NE">Linda Garza</option>
                                    <option value="NM">Randy Ortez</option>
                                    <option value="ND">Lorene Block</option>
                                    <option value="UT">Mike Baker</option> -->
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="prixVente" class="form-label">Prix Vente</label>
                                <input type="number" [(ngModel)]="productData.prixVente" name="prixVente" #prixVente="ngModel" id="prixVente" class="form-control" placeholder="Enter project name">
                            </div>

                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" [(ngModel)]="productData.reference" name="reference" #reference="ngModel" id="description" rows="10" placeholder="Enter Description.."></textarea>
                            </div>

                        </div>
                        <div class="button-group">
                            <button *ngIf="!paramId" type="submit" class="btn btn-success btn-lg mb-1" (click)="onAddProduct()" style="cursor: pointer;">
                                <i class="fa fa-database"></i> Enregistrer</button
                              >&nbsp;&nbsp;
                            <button
                                *ngIf="paramId"
                                class="btn btn-primary btn-lg mb-1"
                                (click)="onUpdateProduct()"
                                style="cursor: pointer;"
                                >
                                <i class="fa fa-database"></i>Modifié
                                </button>
                            <button routerLink="/product/list" class="btn btn-warning btn-lg mb-1">
                                <i class="mdi mdi-arrow-left"></i> Retour</button>
                        </div>
                        <!-- end col-->
                    </div>
                    <!-- end row -->

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card-->
        </div>
        <!-- end col-->
    </div>
    <!-- end row-->

</div>