<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gestion</a></li>
                        <li class="breadcrumb-item active">Fournisseurs</li>
                    </ol>
                </div>
                <h4 class="page-title" *ngIf="!paramId">Nouveau Client</h4>
                <h4 class="page-title" *ngIf="paramId">Modifier Client</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6" style="margin-left: auto; margin-right: auto;">
                            <div class="mb-3">
                                <label for="code" class="form-label">Code</label>
                                <input type="text" [(ngModel)]="clientData.codeClient" name="codeClient" #codeClient="ngModel" required class="form-control" placeholder="Enter code">
                            </div>

                            <div class="mb-3">
                                <label for="designation" class="form-label">Raison social</label>
                                <input type="text" [(ngModel)]="clientData.raisonSocial" name="raisonSocial" #raisonSocial="ngModel" id="raisonSocial" class="form-control" placeholder="Enter raison social">
                            </div>

                            <div class="mb-3">
                                <label for="address" class="form-label">Addresse</label>
                                <input type="text" [(ngModel)]="clientData.address" name="address" #address="ngModel" id="address" class="form-control" placeholder="Enter addresse">
                            </div>

                            <div class="mb-3 position-relative">
                                <label class="form-label">Mobile</label>
                                <input type="text" [(ngModel)]="clientData.mobile" name="mobile" #mobile="ngModel" id="mobile" class="form-control" placeholder="Enter numero mobile">
                            </div>

                            <div class="mb-3">
                                <label for="telephone" class="form-label">Téléphone fixe</label>
                                <input type="text" id="telephone" [(ngModel)]="clientData.telephone" name="prixDetail" #prixDetail="ngModel" class="form-control" placeholder="Enter téléphone fixe">
                            </div>

                            <div class="mb-3 position-relative">
                                <label class="form-label">Email</label>
                                <input type="email" [(ngModel)]="clientData.email" name="email" #email="ngModel" id="email" class="form-control" placeholder="Enter email">
                            </div>

                            <div class="button-group">
                                <button *ngIf="!paramId" type="submit" class="btn btn-success btn-lg mb-1" (click)="onAddClient()" style="cursor: pointer;">
                                <i class="fa fa-database"></i> Enregistrer</button
                              >&nbsp;&nbsp;
                            <button
                                *ngIf="paramId"
                                class="btn btn-primary btn-lg mb-1"
                                (click)="onUpdateClient()"
                                style="cursor: pointer;"
                                >
                                <i class="fa fa-database"></i>Modifier
                                </button>&nbsp;&nbsp;
                                <button routerLink="/client/list" class="btn btn-warning btn-lg mb-1">
                                    <i class="mdi mdi-arrow-left"></i> Retour</button>
                            </div>
                            <!-- end col-->
                        </div>
                    </div>
                    <!-- end row -->

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card-->
        </div>
        <!-- end col-->
    </div>
    <!-- end row-->

</div>