<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gestion</a></li>
                        <li class="breadcrumb-item active">Dépenses</li>
                    </ol>
                </div>
                <h4 class="page-title" *ngIf="!paramId">Ajouter Dépense</h4>
                <h4 class="page-title" *ngIf="paramId">Modifier Dépense</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6" style="margin-left: auto; margin-right: auto;">
                            <div class="mb-3">
                                <label for="project-overview" class="form-label">Type dépense</label>
                                <select class="form-control select2" [(ngModel)]="depenseData.typeDepense" #typeDepense="ngModel" data-toggle="select2">
                                    <option value="0">Select</option>
                                    <option
                                        *ngFor="let item of typeDepensesListData"
                                        [ngValue]="
                                        item.id == depenseData.typeDepense?.id
                                            ? depenseData.typeDepense
                                            : item
                                        "
                                    >
                                    {{item.designation}}</option>
                                </select>
                            </div>
                            <!--  <div class="mb-3">
                                <label for="code" class="form-label">Code</label>
                                <input type="text" [(ngModel)]="depenseData.codeCharge" #codeCharge="ngModel" required class="form-control" placeholder="Enter code">
                            </div> -->

                            <div class="mb-3">
                                <label for="designation" class="form-label">Désignation dépense</label>
                                <input type="text" [(ngModel)]="depenseData.designation" #designation="ngModel" class="form-control" placeholder="Enter désignation">
                            </div>

                            <div class="mb-3">
                                <label for="montantCharge" class="form-label">Montant dépense</label>
                                <input type="number" [(ngModel)]="depenseData.montantCharge" #montantCharge="ngModel" class="form-control" placeholder="Enter montant dépense">
                            </div>

                            <div class="button-group">
                                <button *ngIf="!paramId" class="btn btn-success btn-lg mb-1" (click)="onAddDepense()" style="cursor: pointer;">
                                <i class="fa fa-database"></i> Enregistrer</button
                              >&nbsp;
                            <button
                                *ngIf="paramId"
                                class="btn btn-primary btn-lg mb-1"
                                (click)="onUpdateDepense()"
                                style="cursor: pointer;"
                                >
                                <i class="fa fa-database"></i>Modifié
                                </button>&nbsp;
                                <button routerLink="/depense/list" class="btn btn-warning btn-lg mb-1">
                                    <i class="mdi mdi-arrow-left"></i> Retour</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>