<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gestion</a></li>
                        <li class="breadcrumb-item active">Fournisseurs</li>
                    </ol>
                </div>
                <h4 class="page-title">Fournisseurs</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <a routerLink="/fournisseur/create" href="javascript:void(0);" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Ajout Fournisseur</a>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button>
                                <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                                <button type="button" class="btn btn-light mb-2">Export</button>
                            </div>
                        </div>
                        <!-- end col-->
                    </div>

                    <div class="table-responsive">
                        <table class="table table-centered w-100 dt-responsive nowrap" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="products-datatable">
                            <thead class="table-light">
                                <tr>
                                    <th class="all">Raison Social</th>
                                    <th>Addresse</th>
                                    <th>Téléphone</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Numéro Compte</th>
                                    <th style="width: 85px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fournisseur of fournisseursList">
                                    <td>
                                        <img src="assets/images/products/product-1.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                        <p class="m-0 d-inline-block align-middle font-16">
                                            <a href="apps-ecommerce-products-details.html" class="text-body">{{fournisseur.raisonSocial}}</a>
                                            <br>

                                        </p>
                                    </td>
                                    <td>
                                        {{fournisseur.address}}
                                    </td>

                                    <td>
                                        {{fournisseur.mobile}}
                                    </td>

                                    <td>
                                        {{fournisseur.mobile}}
                                    </td>

                                    <td>
                                        {{fournisseur.email}}
                                    </td>

                                    <td>
                                        {{fournisseur.mobile}}
                                    </td>

                                    <td class="table-action">
                                        <a [routerLink]="['/fournisseur/detail', fournisseur.id]" href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                        <a [routerLink]="['/fournisseur/edit', fournisseur.id]" href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                        <a (click)="onDeleteFournisseur(fournisseur.id)" href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end card-body-->
            </div>
            <!-- end card-->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

</div>
<!-- container -->